
<div class="container-fluid">


  <%= link_to "Edit Artist", edit_artist_path, class: "btn btn-default" %>
  <%= link_to "Remove Artist", artist_path( @artist ), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
  <div class="container-fluid">

    <%= image_tag @artist.photo.image, class: "img-fluid; max-width: 50%; height: auto;" if @artist.photo %>
    <p>Name: <%= @artist.name %></p>
    <p>Birthday: <%= @artist.birthday %></p>
    <p>Favourite food: <%= @artist.fav_food %></p>
    <div class="container" id="song-container">
    <p>Song list:</p>
    <%= link_to "Add new song", new_artist_song_path(artist_id: @artist.id), class: "btn btn-default" %>
    <ol id="song-list">
      <%= render 'songs', artist: @artist %>
    </ol>
    </div>
  </div>
</div>
